<% provide(:title, @shop.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="shop_info">
      <h1>
        <%= logo_for @shop %>
        (<%= @shop.name %>)
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @shop.shop_posts.any? %>
      <h3>Shop Posts (<%= @shop.shop_posts.count %>)</h3>
      <ol class="shop_posts">
        <%= render @shop_posts %>
      </ol>
      <%= will_paginate @shop_posts %>
    <% end %>
  </div>
</div>