<% provide(:title, @shop.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="shop_info">
      <h1 class="shop_logo">
        <%= link_to @shop.name, @shop %>
      </h1>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @shop.shop_posts.any? %>
      <h3 class="lowercase">Shop Posts (<%= @shop.shop_posts.count %>)</h3>
      <ol class="shop_posts">
        <%= render @shop_posts %>
      </ol>
      <%= will_paginate @shop_posts %>
    <% end %>
  </div>
</div>