<%provide :picture_label,"Upload a Skintone Image (Optional)"%>
<%= form_for(@user, url: yield(:form_submit_redirect)) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :email %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>

	<%= f.label yield(:picture_label) %>
	<span class="picture">
		<%= f.file_field :picture %>
	</span>

	<%= f.submit yield(:submit_button_text), class: "btn btn-primary" %>

<%end%>