
<div id="item-<%= @item.id %>" class="item-details">
	<table>
		<tr>
			<th>
				<%= link_to main_img_for(@item, size: 400), @item.product_url %>
			</th>
			<th>
				<div class="details-holder">
					<div class="item-name lowercase large "><%= @item.name %></div>

					<div class="item-price lowercase large">$<%= @item.price %></div>

					<h3 class="lowercase medium"> Description </h3>
					<div class="item-description"><%= @item.description%></div>

					<div class="link-to-shop">
						<h4 class="lowercase medium"><span class="btn pink-button"><%=link_to @shop.name, @shop.url %></span></h4>
					</div>
				</div>
			</th>

		</tr>
	</table>
</div>



